<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raymondmuzzi.my.shop.web.admin.dao.TbUserDao">

    <sql id="base_column">
        username,
        password,
        phone,
        email,
        created,
        updated
    </sql>

    <insert id="insert">
        INSERT INTO tb_user(
        <include refid="base_column"/>
        )
        VALUES(
        #{username},
        #{password},
        #{phone},
        #{email},
        NOW(),
        NOW()
        )
    </insert>

    <delete id="delete">
        DELETE FROM tb_user
        WHERE
          id = #{id}
    </delete>

    <update id="updateById">
        UPDATE tb_user
        <set>
            <if test="null != username and '' != username">
                username = #{username},
            </if>
            <if test="null != password and '' != password">
                password = #{password},
            </if>
            <if test="null != phone and '' != phone">
                phone = #{phone},
            </if>
            <if test="null != email and '' != email">
                email = #{email},
            </if>
            updated = NOW()
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="selectAll" resultType="com.raymondmuzzi.my.shop.domain.TbUser">
        SELECT
        <include refid="base_column"/>
        FROM
        tb_user
    </select>

    <select id="selectUserByUsername" resultType="com.raymondmuzzi.my.shop.domain.TbUser">
        SELECT
        <include refid="base_column"/>
        FROM
        tb_user
        WHERE
        username = #{username}
    </select>

    <select id="getById" resultType="com.raymondmuzzi.my.shop.domain.TbUser">
        SELECT
        <include refid="base_column"/>
        FROM
        tb_user
        WHERE
        id = #{id}
    </select>

    <select id="getByUsernameLike" resultType="com.raymondmuzzi.my.shop.domain.TbUser">
        SELECT
        <include refid="base_column"/>
        FROM
        tb_user
        WHERE
        username LIKE CONCAT('%',#{username},'%')
    </select>

    <select id="search" resultType="com.raymondmuzzi.my.shop.domain.TbUser">
        SELECT
        <include refid="base_column"/>
        FROM
        tb_user
        <where>
            <if test="null != username and '' != username">
                OR username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="null != phone and '' != phone">
                OR phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="null != email and '' != email">
                OR email LIKE CONCAT('%',#{email},'%')
            </if>
        </where>
    </select>


</mapper>